<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bitmex Watcher</title>
    <link rel="icon" type="image/png" href="{% static 'core/icon.png' %}"/>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/darkly.css' %}">
    <link rel="stylesheet" href="{% static 'core/mini.css' %}">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    <link rel="stylesheet" href="{% static 'core/styles/app.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    <script src="{% static 'core/timeago.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div class="main tog2gled">
    <div id="sidebar-wrapper">
        <a class="btn btn-sm btn-success" data-toggle="modal" href='#add_key_modal'>
            <i class="fa fa-plus"></i>&nbsp;Add keypair
        </a>
        <hr>
        <table class="table table-users">
            <thead>
            <tr>
                <th>User</th>
                <th>Balance</th>
                <th>Positions Value</th>
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr class="active-user {% ifequal currentUser.id u.id %}active{% endifequal %}">
                    <td>
                        <a href="{% url "user" u.name %}">{{ u.name }}</a>
                    </td>
                    <td>{{ u.wallet.amount }}
                        {% if u.hide_balance %}
                            <span class="text-success"
                                  style="cursor: pointer;"
                                  data-toggle="tooltip"
                                  data-placement="auto"
                                  title="The user has a hidden balance. All trades are scaled to a balance of 1 BTC">
							<i class="fa fa-question-circle"></i>
						</span>
                        {% endif %}
                    </td>
                    <td>{{ u.total_positions_value }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No entries</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="toggle-sidebar-contain">
		<span class="btn btn-danger btn-sm" id="menu-toggle" data-toggle="tooltip" data-placement="right"
              title="Toggle sidebar">
			<i class="fa fa-bars"></i>
		</span>
    </div>
    <div class="corner_balance">
        <span title="Total balance">{{ wallet.amount }} BTC</span>
    </div>
{#        <div class="container">#}
{#            <pre>#}
{#                {{ walletDump }}#}
{#            </pre>#}
{#        </div>#}
    <div class="container">
        <!--tab navigation-->
        <ul id="tabs_main" class="nav nav-tabs">
            <li class="active">
                <a href="#positions_tab" data-toggle="tab">
                    Positions
                    <strong>({{ positions|length }})</strong>
                </a>
            </li>
            <li>
                <a href="#closed_positions_tab" data-toggle="tab">
                    Closed Positions
                    <strong>(-)</strong>
                </a>
            </li>
            <li>
                <a href="#active_orders_tab" data-toggle="tab">
                    Active Orders
                    <strong>({{ orders|length }})</strong>
                </a>
            </li>
            <li>
                <a href="#stops" data-toggle="tab">
                    Stops
                    <strong>({{ stops|length }})</strong>
                </a>
            </li>
            <li>
                <a href="#fills" data-toggle="tab">Fills</a>
            </li>
            <li>
                <a href="#order_history" data-toggle="tab">Order History</a>
            </li>
            <li>
                <a href="#info_tab" data-toggle="tab">Info</a>
            </li>
            <li>
                <a href="#charts_tab" data-toggle="tab">Charts</a>
            </li>
            <li>
				<span class="refresh_btn">
					<i class="fa fa-refresh text-success"></i>
				</span>
            </li>
        </ul>
        <!--/tab navigation-->

        <div id="myTabContent" class="tab-content">
            <!--position-->
            <div class="tab-pane fade in active" id="positions_tab">
                <div class="positions_tab_inner tab_inner">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Size</th>
                            <th>Value</th>
                            <th>Entry Price</th>
                            <th>Mark Price</th>
                            <th>Liq. Price</th>
                            <th>Margin</th>
                            <th>Unrealised PNL<!--  (ROE %) --></th>
                            <th>Realised PNL</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for position in positions %}
                            {% ifequal position.isOpen 1 %}
                                <tr data-order-type="{{ position.side }}">
                                    <td>{{ position.symbol }}</td>
                                    <td>{{ position.currentQty }}</td>
                                    <td>{{ position.value }} XBT</td>
                                    <td>{{ position.avgEntryPrice }}</td>
                                    <td>{{ position.markPrice }}</td>
                                    <td>{{ position.liquidationPrice }}</td>
                                    <td>{{ position.maintMargin }}</td>
                                    <td>{{ position.unrealisedGrossPnl }}</td>
                                    <td>{{ position.realizedPnl }}</td>
                                    <th>
                                        <span class="timeago" datetime="{{ position.timestamp }}"
                                              title="{{ position.timestamp }}"></span>
                                    </th>
                                </tr>
                            {% endifequal %}
                        {% empty %}
                            <tr>
                                <td colspan="10" class="text-center">No entries</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#                <pre>#}
                {#                    {{ positionsDump }}#}
                {#                </pre>#}
            </div>
            <!--/positions-->


            <!--closed positions-->
            <div class="tab-pane fade" id="closed_positions_tab">
                <div class="closed_positions_tab_inner tab_inner">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Size</th>
                            <th>Value</th>
                            <th>Entry Price</th>
                            <th>Mark Price</th>
                            <th>Liq. Price</th>
                            <th>Margin</th>
                            <th>Unrealised PNL<!--  (ROE %) --></th>
                            <th>Realised PNL</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for position in positions %}
                            {% ifequal position.isOpen 0 %}
                                <tr data-order-type="{{ position.side }}">
                                    <td>{{ position.symbol }}</td>
                                    <td>{{ position.currentQty }}</td>
                                    <td>{{ position.value }} XBT</td>
                                    <td>{{ position.avgEntryPrice }}</td>
                                    <td>{{ position.markPrice }}</td>
                                    <td>{{ position.liquidationPrice }}</td>
                                    <td>{{ position.maintMargin }}</td>
                                    <td>{{ position.unrealisedGrossPnl }}</td>
                                    <td>{{ position.realizedPnl }}</td>
                                    <th>
                                        <span class="timeago" datetime="{{ position.timestamp }}"
                                              title="{{ position.timestamp }}"></span>
                                    </th>
                                </tr>
                            {% endifequal %}
                        {% empty %}
                            <tr>
                                <td colspan="10" class="text-center">No entries</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/closed positions-->


            <!--active orders-->
            <div class="tab-pane fade" id="active_orders_tab">
                <div class="active_orders_tab_inner tab_inner">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Symbol</td>
                            <td>Qty</td>
                            <td>Price</td>
                            <td>Filled</td>
                            <td>Remaining</td>
                            <td>Order Value</td>
                            <td>Type</td>
                            <td>Status</td>
                            <td>Time</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in orders %}
                            <tr data-order-type="{{ o.side }}">
                                <td>{{ o.symbol }}</td>
                                <td>{{ o.orderQty }}</td>
                                <td>{{ o.price }}</td>
                                <td>{{ o.cumQty }}</td>
                                <td>{{ o.leavesQty }}</td>
                                <td>{{ o.value }} XBT</td>
                                <td>{{ o.ordType }}</td>
                                <td>{{ o.ordStatus }}</td>
                                <td>
                                    <span class="timeago" datetime="{{ o.timestamp }}" title="{{ o.timestamp }}"></span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9" class="text-center">No entries</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#                <pre>#}
                {#                    {{ orderDump }}#}
                {#                </pre>#}
            </div>
            <!--/active orders-->


            <!--stops-->
            <div class="tab-pane fade" id="stops">
                <div class="stops_tab_inner tab_inner">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Filled</th>
                            <th>Stop Price</th>
                            <th>Triggering Price</th>
                            <th>Fill Price</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in stops %}
                            <tr>
                                <td>{{ s.symbol }}</td>
                                <td>{{ s.orderQty }}</td>
                                <td>{{ s.price }}</td>
                                <td>{{ s.cumQty }}</td>
                                <td>{{ s.stopPx }}</td>
                                <td>{{ s.triggeringPrice }}</td>
                                <td>{{ s.avgPx }}</td>
                                <td>{{ s.execInst }}</td>
                                <td>{{ s.status }}</td>
                                <td>
                                    <span class="timeago" datetime="{{ s.timestamp }}" title="{{ s.timestamp }}"></span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="10" class="text-center">No entries</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#                <pre>#}
                {#                    {{ stopsDump }}#}
                {#                </pre>#}
            </div>
            <!--/stops-->


            <!--fills-->
            <div class="tab-pane fade" id="fills">
                <div class="fills_inner tab_inner">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Qty</th>
                            <th>Exec Qty</th>
                            <th>Remaining</th>
                            <th>Exec Price</th>
                            {#                            <th>Price</th>#}
                            <th>Value</th>
                            <th>Type</th>
                            <th>OrderID</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fill in fills %}
                            {% if fill.side %}
                                <tr style="background-color: #{{ fill.idColor }}20" class="testtest"
                                    data-order-type="{{ fill.side }}">
                                    <td>{{ fill.symbol }}</td>
                                    <td>{{ fill.orderQty }}</td>
                                    <td>{{ fill.lastQty }}</td>
                                    <td>{{ fill.simpleLeavesQty }}</td>
                                    <td>{{ fill.lastPx }}</td>
                                    {#                                    <td>#}
                                    {#                                        {% ifequal fill.ordType "Market" %}#}
                                    {#                                            "Market"#}
                                    {#                                        {% else %}#}
                                    {#                                            {{ fill.price }}#}
                                    {#                                        {% endifequal %}#}
                                    {#                                    </td>#}
                                    <td>{{ fill.value }} XBT</td>
                                    <td>{{ fill.ordType }}</td>
                                    <td style="color: #{{ fill.idColor }};"><span
                                            data-long-id="{{ fill.orderID }}">{{ fill.shortId }}</span></td>
                                    {#                                    <td><?php echo date("M d, Y, H:i:s",strtotime($fill['timestamp'])); ?></td>#}
                                    <td>
                                        <span class="timeago" datetime="{{ fill.timestamp }}"
                                              title="{{ fill.timestamp }}"></span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="9" class="text-center">No entries</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#                <pre>#}
                {#                    {{ fillsDump }}#}
                {#                </pre>#}
            </div>
            <!--/fills-->


            <!--order history-->
            <div class="tab-pane fade" id="order_history">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Filled</th>
                        <th>Stop Price</th>
                        <th>Fill Price</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for h in history %}
                        <tr data-order-type="{{ h.side }}">
                            <td>{{ h.symbol }}</td>
                            <td>{{ h.orderQty }}</td>
                            <td>{{ h.price }}</td>
                            <td>{{ h.cumQty }}</td>
                            <td>{{ h.stopPx }}</td>
                            <td>{{ h.avgPx }}</td>
                            <td>{{ h.ordType }}</td>
                            <td>{{ h.status }}</td>
                            <td>
                                <span class="timeago" datetime="{{ h.timestamp }}" title="{{ h.timestamp }}"></span>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9" class="text-center">No entries</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="order_history_inner">
                    <pre>{{ historyDump }}</pre>
                </div>
            </div>
            <!--/order history-->


            <!--info-->
            <div class="tab-pane fade in active" id="info_tab">
                <div class="info_tab_inner tab_inner">
                    {#                    <pre>{{ instruments }}</pre>#}
                </div>
            </div>
            <!--/info-->


            <!--charts-->
            <div class="tab-pane" id="charts_tab">
                <div class="info_tab_inner tab_inner">
                    <div class="chart-container">
                        <h4>Default chart</h4>
                        <div class="row">
                            <div class="col-sm-11">
                                <svg id="chart" class="chart" width="100%" height="500"></svg>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn-link add-chart" data-toggle="tooltip"
                                        title="Add chart">
                                    <span class="sr-only">Add chart</span>
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button type="button" class="btn-link delete-chart" data-toggle="tooltip"
                                        title="Delete chart">
                                    <span class="sr-only">Delete chart</span>
                                    <i class="fa fa-minus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="chart-container hide base-chart">
                        <h4>Chart name</h4>
                        <div class="row">
                            <div class="col-sm-11">
                                <svg class="chart" width="100%" height="500"></svg>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn-link add-chart" data-toggle="tooltip" title="Add chart">
                                    <span class="sr-only">Add chart</span>
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn-link delete-chart" data-toggle="tooltip" title="Delete chart">
                                    <span class="sr-only">Delete chart</span>
                                    <i class="fa fa-minus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="chart-options">
                        <div class="row">
                            <div class="col-xs-12">
                                {#                                {{ for chart in charts }}#}
                                <div class="pretty p-default p-curve"><input type="checkbox">
                                    <div class="state"><label>Default</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/charts-->
        </div>
        <!-- <br> -->
    </div>
    <div class="modal fade" id="add_key_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add new keypair for public view</h4>
                </div>
                <form action="{% url "create_user" %}" method="post" id="form_create_user">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="key_name">Name</label>
                            <input type="text" class="form-control" id="key_name" name="key_name" required>
                        </div>
                        <div class="form-group">
                            <label for="key_pub">Public key</label>
                            <input type="text" class="form-control" id="key_pub" name="key_pub" required>
                        </div>
                        <div class="form-group">
                            <label for="key_secret">Secret key</label>
                            <input type="text" class="form-control" id="key_secret" name="key_secret" required>
                        </div>

                        <div class="mag_top" style="display: inline-block; cursor: pointer;" data-toggle="tooltip"
                             data-placement="top"
                             title="When enabled, your balance will always show as 1 BTC and all your trades will be scaled appropriately">
                            <div class="pretty p-default p-curve p-toggle" style="margin-right: 0.3em;">
                                <input type="checkbox" name="hide_balance" checked="checked" id="hide_balance_chk"/>
                                <div class="state p-danger p-off">
                                    <label>Show real balance</label>
                                </div>
                                <div class="state p-success p-on">
                                    <label>Hide real balance </label>
                                </div>
                            </div>
                            <i class="fa fa-question-circle-o text-warning"></i>

                            <div class="form-group pad_top">
                                <div class="printArea text-success">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Close
                            </button>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    var walletHistory = "";

    axios.get('/api/chart_data/', {
        params: {
            username: "{{ currentUser.name }}",
            chart_name: "profit"
        }
    })
        .then(function (response) {
           //walletHistory = JSON.parse(JSON.stringify(response.data.data));
           showChart(response.data.data)
        })
        .catch(function (error) {
            console.log(error);
        });

    var wallet = JSON.parse("{{ walletDump | safe | escapejs}}"),
        walletHistoryx = JSON.parse("{{ walletHistory | safe | escapejs}}"),
        positions = JSON.parse("{{ positionsDump | safe | escapejs}}"),
        orders = JSON.parse("{{ orderDump | safe | escapejs}}"),
        stops = JSON.parse("{{ stopsDump | safe | escapejs}}"),
        fills = JSON.parse("{{ fillsDump | safe | escapejs}}"),
        instruments = JSON.parse("{{ instruments | safe | escapejs}}");
       console.log("bb");
</script>
<script src="{% static 'scripts/app.js' %}"></script>
<script>
    $(function () {
        $("body").addClass("loaded");
// curl -X GET --header 'Accept: application/json' 'https://testnet.bitmex.com/api/v1/position'
        $('.refresh_btn').click(function (ev) {
            ev.preventDefault();
            $("body").removeClass("loaded");
            setTimeout(function () {
                location.reload();
            }, 500);
        });
        $("#form_create_use").modal("show");

// ########################################################
// $('#add_key_modal').modal('show');
// ########################################################

        var timeagoInstance = timeago();
        var nodes = document.querySelectorAll('.timeago');
// use render method to render nodes in real time
        timeagoInstance.render(nodes);
// cancel real-time render for every node
        timeago.cancel();
// or for the specific one
        timeago.cancel(nodes[0]);

        $('[data-toggle="tooltip"]').tooltip()
    });


    $('#tabs_main a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
        window.scrollTo(0, 0);
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#tabs_main a[href="' + hash + '"]').tab('show');


    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $(".main").toggleClass("toggled");
    });
    $('#add_key_modal').on('shown.bs.modal', function () {
        $('#key_name').focus();
    })

    $('#form_create_user').on('submit', function (e) {
        e.preventDefault();
        console.log('Sending request to ' + $(this).attr('action') + ' with data: ' + $(this).serialize());
        $.ajax({
            type: "POST",
            cache: false,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
// console.log(data + " \n");
// console.log(success_msg + " \n");

                $(".printArea").empty().removeClass("text-success text-danger").addClass("text-success").append(data.message);
            },
            error: function (xhr, errmsg, err) {
                err_msg = JSON.parse(xhr.responseText);
                $(".printArea").empty().removeClass("text-success text-danger").addClass("text-danger").append(err_msg.err);
            }
        });
    });
</script>
</body>
</html>